<h3>Sign up with an existing account</h3>

<a href="/auth/google"><i class="fab fa-google fa-2x"></i></a>

{{!-- <i class="fab fa-instagram fa-2x"></i>
<i class="fab fa-twitter-square fa-2x"></i> --}}

<h3>or create a new one</h3>


<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Username">

  <br><br>

  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Email">

  <br><br>

  <label for="country">Country</label>
  <input id="country" type="country" name="country" placeholder="Country">

  <br><br>

  <label for="city">City</label>
  <input id="city" type="city" name="city" placeholder="City">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Password">

  {{!-- <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password"> --}}
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>SIGN UP NOW</button>

  <p class="account-message">
    Already registered?
    <a href="/auth/login">Login</a>
  </p>
</form>