This is index view

<input type="text" id="address" placeholder="You can add your address here">
<a id="address-button">Search by address</a>

<a id="locate-button">Locate me</a>

<script>
  let country;
  let user_location;
  let addressInput = document.querySelector('#address')
  let addressBtn = document.querySelector('#address-button')
  let locateBtn = document.querySelector('#locate-button')

  addressBtn.onclick = getCoords
  locateBtn.onclick = getGeoloc



  function getCoords() {
    // how to pass coords to url
    if (addressInput.value) {
      let addressStr = addressInput.value

      axios.get(`https://maps.googleapis.com/maps/api/geocode/json?address=${addressStr}&key=AIzaSyD_zFC1JIj0EgKS8Fp0GZw3MiXR1wiDxEg`)
        .then(addressPayLoad => {
          let lat = addressPayLoad.data.results[0].geometry.location.lat
          let lng = addressPayLoad.data.results[0].geometry.location.lng

          window.location.href = `/results/${lat},${lng}`
        })
    }
  }


  function getGeoloc() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        position => {
          return user_location = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
        })
      //fix promise

      if (user_location) {
        window.location.href = `/results/${user_location.lat},${user_location.lng}`
      }
    }
  }

</script>