<div class="home-container container">
  <div id="address-form" class="field has-addons">
    <div class="control">
      <input class="input" id="address" type="text" placeholder="You can add your address here"
        value="Piazza del Colosseo, 1, 00184 Roma RM, Italia">
    </div>
    <div class="control">
      <a class="button is-info" id="address-button">
        Search
      </a>
    </div>
  </div>

  <div>
    <h2 class="title is-3">Let me guess... Time for a beer, right?</h2>
    <h3 class="subtitle is-6">Press the button and we'll<br>geolocate your position</h3>
  </div>

  <button type="button" id="locate-button"><img src="/images/icon-beer.svg"></button>


</div>

<script>
  let country;
  let user_location;
  let addressInput = document.querySelector('#address')
  let addressBtn = document.querySelector('#address-button')
  let locateBtn = document.querySelector('#locate-button')

  addressBtn.onclick = getCoords
  locateBtn.addEventListener("click", function () {
    getGeoloc(coordsAvailable)
  })


  function getCoords() {
    // how to pass coords to url
    if (addressInput.value) {
      let addressStr = addressInput.value

      return axios.get(`https://maps.googleapis.com/maps/api/geocode/json?address=${addressStr}&language=en&key=AIzaSyD_zFC1JIj0EgKS8Fp0GZw3MiXR1wiDxEg`)
        .then(addressPayLoad => {

          console.log(addressPayLoad)
          return coords = {
            lat: addressPayLoad.data.results[0].geometry.location.lat,
            lng: addressPayLoad.data.results[0].geometry.location.lng,
            address: addressPayLoad.data.results[0].address_components
          }

        })
        .then(coords => {
          getLanguage(coords)
        })
    }
  }



  function getGeoloc(cb) {
    navigator.geolocation.getCurrentPosition(pos => {
      return cb(pos);
    })
  }


  function coordsAvailable(pos) {
    let coords = {
      lat: pos.coords.latitude,
      lng: pos.coords.longitude
    };
    console.log(coords);

    return axios.get(`https://maps.googleapis.com/maps/api/geocode/json?latlng=${coords.lat},${coords.lng}&language=en&key=AIzaSyD_zFC1JIj0EgKS8Fp0GZw3MiXR1wiDxEg`)
      .then(addressPayLoad => {
        return coords = {
          lat: addressPayLoad.data.results[0].geometry.location.lat,
          lng: addressPayLoad.data.results[0].geometry.location.lng,
          address: addressPayLoad.data.results[0].address_components
        }

      })
      .then(coords => {
        getLanguage(coords)
      })
  }



  function getLanguage(coords) {
    axios.get(`https://restcountries.eu/rest/v2/all?fields=latlng;name;languages`)
      .then(res => {
        let lan, country, value, longRegex;
        res.data.forEach(countryData => {


          for (const key in coords.address) {
            value = coords.address[key];
            //console.log(countryData.name, value.long_name, value.short_name)

            longRegex = new RegExp(/^value.long_name{0,10}$/);

            if (countryData.name === value.short_name || countryData.name === value.long_name || countryData.name.match(longRegex)) {
              country = countryData.name;
              lan = countryData.languages[0].iso639_1;

              return country, lan;
            }
          }
        })

        window.location.href = `/results/${country}/${lan}/${coords.lat},${coords.lng}`;
      })
  }
</script>