<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"> --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://kit.fontawesome.com/9c01b07d37.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <link  rel="apple-touch-icon"  href="../icon-apple.png">
  <link rel="shortcut icon" href="../icon-apple.png">
</head>

<body class="pages">
  <nav>
    <a href="/"><img src="/images/beer-now.png" alt="BeerNow Logo" id="logo"></a>
    <div class="menu">
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
    </div>
  </nav>

  <main>
    {{{body}}}
  </main>

  <footer>
    <a>BeerNow © 2019</a>
  </footer>
</body>

</html>


