@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");

// Set your brand colors
$dark-green: #001e1d;
$medium-green: #004643;
$green: #0b7760;
$light-green: #abd1c6;
$light: #e8e4e6;
$white: #ffffff;
$yellow: #ecc145;
$red: #e16162;
$title-color: $medium-green;
$info: $green;
$primary: $yellow;
$link-focus-border: $medium-green;

@import "../../node_modules/bulma/bulma.sass";

//Main els
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font: 14px "Poppins", sans-serif;
  background-color: $white;
}

main{
  position: relative;
}

.page-result {
  background-color: $yellow;
}

h2.title {
  line-height: 1.25;
}

h1.title {
  font-size: 3.75rem;
  font-weight: 700;
}

a {
  color: $dark-green;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px 16px;

  #logo {
    width: 175px;
  }

  a {
    &:first-child {
      margin-right: 10px;
    }
  }
}


.btn.button {
  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  max-width: 400px;
  margin: 24px auto;
  display: block;
}

audio {
  margin-bottom: 48px;
}

section {
  padding: 24px;
}

.page-result footer{
  background-color: $white;
}

footer {
  position: relative;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 16px 0;
}

//Helper classes

.img-round img{
  border-radius: 10px;
}

.white{background-color: $white}

.beer-head {
  margin-top: 20px;
  position: relative;
  padding-top: 10px;
}

.beer-head:before {
  content: "";
  background-image: url("/images/beer-head.svg");
  height: 50px;
  width: 100vw;
  left: 0;
  right: 0;
  top: -48px;
  position: absolute;
}

.beer-head.beer-head-yellow:before{
  background-image: url("/images/beer-head-yellow.svg");
}

/* ------ INDEX ------ */

.home-container {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  justify-content: space-between;
  align-items: center;

  h2,
  h3 {
    text-align: center;
  }

  h2.title {
    margin-bottom: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  h3 {
    margin-bottom: 48px;
  }
}

#address-form {
  width: 100%;
  margin-bottom: 64px;

  .control:first-child() {
    flex: auto;
  }

  input:active,
  input:focus {
    border-color: $green;
    //box-shadow: 0 0 0 0.125em rgba($medium-green, 0.3);
  }
}

#locate-button {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 10px solid $light-green;
  background-color: $medium-green;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: all ease 0.3s;
  outline: 0;

  cursor: pointer;

  &:hover {
    border-color: darken($light-green, 5);
    background-color: darken($medium-green, 1);
  }
}

/* ------ Results ------ */

.results-container {
  h1 {
    margin: 32px 0;
  }

  #map {
    height: 400px;
  }

  #locate-message {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 600;

    span {
      text-transform: uppercase;
      color: $medium-green;
      margin-left: 10px;
    }
  }

  #bars,
  #beers {
    background-color: $white;
    position: relative;
  }
}

/* ------ BEERS LIST ------ */
.list-container {

  .header{
    background-color: $white;

    h2.title{
      line-height: 1.2;
    }
  
    .subtitle{
      margin-bottom: 24px;
    }
  }

  .content{
    background-color: $yellow;

    .cards-parent{
      margin-top: -60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      .card-item{
        width:29%;
        margin: 0 2%;
      }

      @media (max-width: 800px){
        .card-item{width: 50%}
      }

      @media (max-width: 600px){
        .card-item{width: 100%}
      }
    }
  }
}

.box-item {
  display: flex;
  border: 1px solid silver;
  height: 150px;

  .description {
    background: #f2f2f2;
    width: 100%;
    padding: 16px 24px;
    position: relative;

    h2 {
      font-weight: 700;
    }

    .alc {
      color: $green;
      position: absolute;
      right: 8px;
      bottom: 8px;
    }
  }

  .img-container {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-container img {
    max-width: 30px;
  }
}

.bar-card{
  .content{
    margin: 8px 0 48px; 
  }
}


/* ------ BEERS DETAILS ------ */
.details-container{
  .subtitle{
    margin-bottom: 48px;
  }

  .comment-form-container{
    margin: 24px 0; 
  }

  .comment-list-container{
    border-top: 1px solid #4a4a4a;
    padding: 32px 0;
  }



  .content{
    background-color: $yellow;
  }
}
.imgDetails {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 2px solid silver;
}

.likes {
  position: absolute;
  top: 5%;
  left: 85%;
}

.imgDetails img {
  max-width: 60%;
}

.rate {
  display: flex;
  justify-content: space-between;
}

.Comment textarea {
  width: 98%;
  border: 1px solid silver;
}

.rateSubmit {
  display: flex;
  justify-content: space-between;
}
.cup {
  position: fixed;
  bottom: 135vh;
  left: 0;
  transform: translate(0%, 150%);
  width: 100vw;
  height: 100vh;
  background: url(https://res.cloudinary.com/duczhwe2w/image/upload/v1574942767/wave_nq2ghx.png);
  background-position: 0px 500px;
  background-repeat: repeat-x;
  animation: filling 15s ease-in-out infinite;
  overflow: hidden;
}

@keyframes filling {
  50% {
    background-position: 3000px 0px;
  }
  100% {
    background-position: 6000px 700px;
  }
}

.contact {
  background: white;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
}

.imgContact {
  margin-top: -1px;
  display: flex;
  justify-content: center;
}

.imgContact img {
  z-index: 9000;
  border-radius: 50%;
  max-width: 170px;
}

.name {
  display: flex;
  justify-content: center;
}

.location {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.favoriteBeers {
  background: white;
}

.beer-headProfile {
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
}

.beer-headProfile:before {
  content: "";
  background-image: url("/images/beer-head.svg");
  height: 80px;
  width: 100vw;
  left: 0;
  right: 0;
  top: -11vh;
  position: absolute;
}

.favoriteBox {
  display: flex;
  flex-direction: column;
  width: 100px;
  border: 1px solid red;
}

.imgFavoriteBeers img {
  width: 100px;
  height: 100px;
}

.favoriteBeer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  // background: url(../images/beerBubble.png) no-repeat;
  background: rgba(255, 255, 255, 0.3);
  background-size: contain;
  transition: all 9s;
}
