@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");

// Set your brand colors
$dark-green: #001e1d;
$medium-green: #004643;
$green: #0b7760;
$light-green: #abd1c6;
$light: #e8e4e6;
$white: #ffffff;
$yellow: #f9bc60;
$red: #e16162;
$title-color: $medium-green;
$info: $green;
$link-focus-border: $medium-green;

@import "../../node_modules/bulma/bulma.sass";

//Main els
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 14px "Poppins", sans-serif;
  padding: 24px;

  background-color: $white;
}

.pages{
  background-color: $yellow;
}

h2.title {
  line-height: 1.25;
}

h1.title{
  font-size: 3.75rem;
  font-weight: 700;
}

a {
  color: $dark-green;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #logo {
    width: 175px;
  }

  a {
    &:first-child {
      margin-right: 10px;
    }
  }
}

section{padding: 32px 0;}


/* ------ INDEX ------ */

.home-container {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  justify-content: space-between;
  align-items: center;

  h2,
  h3 {
    text-align: center;
  }

  h2.title {
    margin-bottom: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  h3 {
    margin-bottom: 48px;
  }
}

#address-form {
  width: 100%;
  margin-bottom: 64px;

  .control:first-child() {
    flex: auto;
  }

  input:active,
  input:focus {
    border-color: $green;
    //box-shadow: 0 0 0 0.125em rgba($medium-green, 0.3);
  }
}

#locate-button {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 10px solid $light-green;
  background-color: $medium-green;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: all ease 0.3s;
  outline: 0;

  cursor: pointer;

  &:hover {
    border-color: darken($light-green, 5);
    background-color: darken($medium-green, 1);
  }
}

/* ------ Results ------ */

#map {
  height: 400px;
}

audio{
  border: 1px solid red;
}

/* ------ BEERS LIST ------ */
.boxBeer {
  display: flex;
  border: 1px solid silver;
  height: 150px;
}

.descriptionBeer {
  background: #f2f2f2;
  width: 100%;
}

.descriptionBeer h2,
h3,
p {
  margin-left: 15px;
}

.imgBeer {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBeer img {
  max-width: 30px;
}

/* ------ BEERS DETAILS ------ */

.imgDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid silver;
}

.imgDetails img {
  max-width: 60%;
}

.rate {
  display: flex;
  justify-content: space-between;
}

.Comment textarea {
  width: 98%;
  border: 1px solid silver;
}

.rateSubmit {
  display: flex;
  justify-content: space-between;
}
.cup {
  position: fixed;
  bottom: 135vh;
  left: 0;
  transform: translate(0%, 150%);
  width: 100vw;
  height: 100vh;
  background: url(https://res.cloudinary.com/duczhwe2w/image/upload/v1574942767/wave_nq2ghx.png);
  background-position: 0px 500px;
  background-repeat: repeat-x;
  animation: filling 15s ease-in-out 
}

@keyframes filling {
  50% {background-position: 3000px 0px;}
  100% {background-position: 6000px 700px;}
}

.contact {
margin-bottom: 15%;
display: flex;
flex-direction: column;
}

.imgContact {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.imgContact img {
  border-radius: 50%;
  max-width: 170px;
}

.name {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.location {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}