<h2>Una birra, per favore!</h2>

<p>There is 5 local beers for you</p>

{{!-- {{#each  }} --}}
<div class="boxBeer">
  <div class="imgBeer">
    <img src="https://www.totalwine.com/dynamic/1000x/media/sys_master/twmmedia/hab/h5d/8806073499678.png" alt="">
  </div>
  <div class="descriptionBeer">
    <h2>Moretti La Rossa</h2>
    <h3>Traditional</h3>
    <h3>German-Style Back</h3>
    <p>ALC. 7.2% VOL</p>
  </div>
</div>
{{!-- {{/each  }} --}}