<section id="translate">
  <p id="location"></p>
  <h1></h1>
  <p>Listen to it</p>
</section>

<section id="bars">
  <h2>There is <span id="bars-num"></span> near you</h2>
  <div id="map"></div>
  <a href="/bars">See the complete list</a>
</section>

<section id="beers">
  <h2>We've found<span id="beers-num"></span> local beers!</h2>
  
  {{!-- Add country as param --}}
  <a href="/beers/">See the complete list</a>
</section>


<script src="{{apiUrl}}"></script>
<script>
  let city, country;

  function startMap() {
    // Initialize the map
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        position => {
          const user_location = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          axios.get(`https://maps.googleapis.com/maps/api/geocode/json?latlng=${user_location.lat},${user_location.lng}&key=AIzaSyD_zFC1JIj0EgKS8Fp0GZw3MiXR1wiDxEg`)
          .then(results => {
              city = results.data.results[0].address_components[3].long_name
              country = results.data.results[0].address_components[5].long_name

              document.querySelector("#location").innerText = `You're at ${city}, ${country}`
              console.log(city, country)
            }
          )

          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15
          });

          // Center map with user location
          map.setCenter(user_location);

          // Add a marker for your user location
          const marker = new google.maps.Marker({
            position: {
              lat: user_location.lat,
              lng: user_location.lng
            },
            map: map,
            title: "You are here."
          });

          showMarkers(map, user_location.lat, user_location.lng)

        },

        function () {
          console.log("Error in the geolocation service.");
        }
      );
    } else {
      console.log("Browser does not support geolocation.");
    }
  }

  startMap();

  function showMarkers(map, lat, lng) {
    axios
      .get(
        `https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=${lat},${lng}&radius=1500&type=bar&key=AIzaSyD_zFC1JIj0EgKS8Fp0GZw3MiXR1wiDxEg`
      )
      .then(barsPayload => {
        console.log(barsPayload.data.results)

        barsPayload.data.results.forEach(results => {

          let marker = new google.maps.Marker({
            position: results.geometry.location,
            map: map,
            title: results.name,
            icon: '../images/icon-beer.png',
          });

          var infowindow = new google.maps.InfoWindow({
            content: results.name
          });

          marker.addListener("click", function () {
            infowindow.open(map, marker);
          });
        });
      })
      .catch(err => console.log(err));
  }
</script>