This is results view
<div id="map"></div>

<<<<<<< HEAD
<input type="text" id="location">

{{!-- 
<script>
    navigator.geolocation.getCurrentPosition(success, error);
    function success(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
    }
    function error() {
        // do something with the error message
    }
</script> --}}
=======

<script src="{{apiUrl}}"></script>
<script src="/javascripts/main.js"></script>
>>>>>>> maria
